/*
    - - - Custom Responsive Stylesheet
 */

@media (max-width:800px) {
    #dashboard-section .sidebar {
        width: 25%;
        font-size: 13.5px;
    }
    /*      Dashboard Overview Page      */
    .overview .item {
        width: 50%;
    }
}

@media (min-width: 992px) {
    #dashboard-section .sidebar {
        width: 16.6667%;
        font-size: 13.5px;
    }
}


/*         Max- Width : 580       */

@media (max-width: 580px) {
    #dashboard-section .sidebar {
        background-color: #f1f1f1;
        width: 100%;
        height: auto;
        bottom: auto;
        z-index: 99;
    }
    #dashboard-section .sidebar #dashboard-brand img {
        width: 30px;
    }
    #dashboard-section .sidebar #side-Nav {
        display: none;
        height: 100vh;
        padding-bottom: 20px;
    }
    #dashboard-section .sidebar #side-Nav a {
        /* display: block;
        color: black;
        padding: 16px 20px;
        text-decoration: none; */
        border-bottom: 1px solid #fff;
    }
    #dashboard-section .sidebar .toggler-btn {
        display: block;
    }
    #dashboard-section .sidebar #dashboard-brand {
        justify-content: space-between;
    }
    #dashboard-section #dashboard-header {
        margin-top: 70px;
    }
    #dashboard-section #dashboard-header>.container>.d-flex {
        flex-wrap: wrap;
        text-align: center;
    }
    #dashboard-section #dashboard-header .d-flex .item {
        padding: 5px 0;
    }
    #dashboard-section #dashboard-header>.container>.d-flex>.item:nth-child(2) {
        display: none;
    }
    #dashboard-section #main-dashboard-content {
        margin-top: 60px;
    }
    #dashboard-section #main-dashboard-content .page-title {
        flex-direction: column;
        gap: 10px;
        width: fit-content;
    }
    .overview {
        flex-wrap: wrap;
        justify-content: center;
    }
    .overview .item {
        width: 46.5%;
        margin-bottom: 0.5rem;
    }
}