/* 
    - - - Custom  Stylesheet
*/


/*       Import Here      */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

/* Variables */

:root {
    --font-play: Playfair Display;
}


/*      Universal Style      */

* {
    font-family: 'Poppins', sans-serif;
}


/*      Color Style         */

.bg-blue {
    background: #342ead;
}

.blue {
    color: #342ead;
}

.bg-orange {
    background: #ea6227;
}

.orange {
    color: #ea6227;
}

.bg-yellow {
    background: #f2a51a;
}

.yellow {
    color: #f2a51a;
}

.bg-lightgreen {
    background: #b9ebcc;
}

.lightgreen {
    color: #b9ebcc;
}


/*      ===========    Contact Page    Style   ==========      */

#form-section h2 {
    font-family: 'var(--font-play)';
}

#form-section form input,
#form-section form textarea {
    transition: 0.5s;
    resize: none;
}

#form-section form input:focus,
#form-section form textarea:focus,
#form-section form select:focus {
    border: 1px solid #ea6227;
    box-shadow: none;
}

#form-section form button {
    background: #ea6227;
    transition: 0.5s;
    color: #ffffff;
    font-size: 14px;
}

#form-section form button:hover {
    background: #342ead;
}

#form-section .info-contact i.fas {
    font-size: 36px;
    color: #ea6227;
    margin-bottom: 15px;
}

#form-section .info-contact h5 {
    font-weight: 700;
    margin: 0;
}

.modal #form-section label {
    font-size: 14px;
}

.modal #form-section input,
.modal #form-section select,
.modal #form-section select option {
    font-size: 14px;
}

#lab-section .labs-section .item,
#course-section .labs-section .item {
    width: 25%;
}

#lab-section .labs-section .item img,
#course-section .labs-section .item img {
    width: 100%;
}

#course-section .labs-section .item {
    margin: 0.25%;
    width: 24.5%;
}


/*      =============    Dashboard   Style   Section     ===========      */

#dashboard-section .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #f1f1f1;
}

#dashboard-section .sidebar #dashboard-brand {
    display: flex;
    justify-content: center;
}

#dashboard-section .sidebar .toggler-btn {
    display: none;
}

#dashboard-section .sidebar #side-Nav {
    display: block;
    height: 85vh;
    overflow-y: auto;
}

#dashboard-section .sidebar #side-Nav a {
    display: block;
    color: black;
    padding: 16px 20px;
    text-decoration: none;
}

#dashboard-section .sidebar #side-Nav a i.fas {
    margin-right: 10px;
}

#dashboard-section .sidebar #side-Nav a.active {
    background-color: #ea6227;
    color: white;
}

#dashboard-section .sidebar #side-Nav a:hover:not(.active) {
    background-color: #342ead;
    color: white;
}

#dashboard-section #dashboard-header .dropdown .dropdown-menu .user-role {
    font-size: 12px;
    margin-top: -5px;
    color: #ea6227;
}

#dashboard-section #dashboard-header .dropdown .dropdown-menu a:hover {
    background: #ea6227;
    color: #ffffff;
}

#dashboard-section #dashboard-header .dropdown .dropdown-menu i.fas {
    margin-right: 5px;
}

#main-dashboard-content .dashboard-container {
    min-height: 96vh;
}

#dashboard-section .content-data {
    position: relative;
}

#dashboard-section #main-dashboard-content table tr th,
#dashboard-section #main-dashboard-content table tr td {
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}

#dashboard-footer {
    width: 100%;
    color: #ffffff;
    background: #ea6227;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0;
}


/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 13px;
    width: 25%;
    user-select: none;
}

.tablink:hover {
    background-color: #342ead;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 10px 0px;
    height: 100%;
}


/*      Dashboard Overview Page      */

.overview .item {
    width: 25%;
    color: #ffffff;
}

.overview .item p {
    font-size: 14px;
}

.overview .item:nth-child(1) {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.overview .item:nth-child(1):before {
    content: '\f108';
    font-family: FontAwesome;
    font-size: 56px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 20px;
}

.overview .item:nth-child(2) {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.overview .item:nth-child(2):before {
    content: '\f19d';
    font-family: FontAwesome;
    font-size: 56px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 20px;
}

.overview .item:nth-child(3) {
    background: #FF416C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF4B2B, #FF416C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.overview .item:nth-child(3):before {
    content: '\f0eb';
    font-family: FontAwesome;
    font-size: 64px;
    opacity: 0.4;
    position: absolute;
    top: -10px;
    right: 20px;
}

.overview .item:nth-child(4) {
    background: #FFE000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.overview .item:nth-child(4):before {
    content: '\f0c0';
    font-family: FontAwesome;
    font-size: 56px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 20px;
}